<div class="flex flex-row gap-8">
  <!-- Main Content (Left) -->
  <div class="flex-1">
    <article class="prose max-w-full dark:prose-invert">
      {{ with .Title }}
      <header>
        <h1>{{ . | emojify }}</h1>
      </header>
      {{ end }}
      <section>{{ .Content | emojify }}</section>
    </article>
    <section>{{ partial "recent-articles.html" . }}</section>
  </div>

  <!-- Profile (Right) -->
  <aside class="w-full max-w-xs flex-shrink-0">
    {{ partial "profile.html" }}
  </aside>
</div>

<section>{{ partial "recent-articles.html" . }}</section>
